.challenge-container {
    position: relative;
    margin: 3% auto;
    width: 50%;
    box-shadow: 0 2px 16px #e9ecef;
    background: black;
    padding: 0px 0px 20px 0px;
}

.label-form {
    display: block;
    margin: 0px 0px 15px 20px;
    padding: 8px;
    border-bottom: 1px solid #aaa;
    font-size: 14px;
}

.chall-name-area {
    display: block;
    margin-left: 28px;
}

.descrip-of-chall {
    width: 100%;
    height: 120px;
    padding: 20px;
    border: 0;
    border-bottom: 1px solid;
}


.descrip-of-chall {}

.p3element {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.bttn {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.about-to-post-video {
    margin-left: 30px;
    width: 40%;
}

.nom-friend {
    margin-left: 1.8em;
}

.nominated-user {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    position: relative;
    bottom: 8px;
}