.post {
    background-color: black;
    border: 2px solid lightgray;
    margin-bottom: 45px;
    border-radius: 25px;
    margin-left: 22em;
    margin-right: 22em;
    padding: 8px;
}

.previous-challenges {
    display: flex
}

.previous-challenges .challenge-and-description {
    padding: 3em
}

.post-vid {
    width: 100%;
    height: 330px;
}

.modal-chall-and-description {
    background: black;
    width: 60% !important
}

.follow-stuff {
    padding: 0.5em;
    font-size: 20px;
    padding-left: 31px;
}

.follow-container {
    padding-top: 55px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    color: white;
}

.bio-profile-page {
    flex: none;
}

.profile-container {
    justify-content: center;
    padding-top: 50px;
    color: white
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    box-shadow: rgba(255, 255, 255, 0.35) 0px -50px 36px -28px inset;
}

.user-name {
    /* display: flex; */
    justify-content: center;
}


.post-header {
    display: flex;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.the-user-name {
    padding-top: 1em;
    color: white;
    cursor: pointer;
}

.contribute-to-chall {
    color: white;
    text-align: center;
}

.challenge-headers {
    display: flex;
}

.post-avatar {
    margin-right: 10px;
    cursor: pointer;
}

.likes {
    color: #fff;
    padding: 0.7em
}

.post-caption {
    font-weight: 2px;
    padding: 5px;
    color: #fff;
}

.commentbox {
    /* display: flex; */
    /* margin-top: 10px; */

}

.heart-and-likes {
    display: flex;
    justify-content: space-between;
}

.add-a-comment {
    flex: 1;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid lightgray;
    margin-top: 8px;
}

.comment-button {
    flex: 0;
    border: 10px white;
    color: #fff;
}

.post-comments {
    padding: 5px;
    color: #fff;
    max-height: 2em;
    overflow: hidden;
}

.see-profile {
    display: flex;
    border-bottom: solid 2px #fff;
}


h3 {
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.chal-descrip {
    color: white;
}

.chall-description {
    padding: 12px 20px;
    font-size: 13px;
    line-height: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.challenge-and-description {
    background: black;
    width: 100%
}


.width-btn {
    width: 50%;
    text-align: center;
    border-top: solid 2px #fff;
}


.btn:hover,
input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-white {
    border: solid 2px #fff;
    background: transparent;
    color: #fff !important;
}

.btn-white:hover {
    background: #fff;
    color: #1f1f1f !important;
}



.btn-color {
    background: transparent;
}

.btn-color:hover {
    color: #fff;
}

.chal-descrip {
    padding-left: 0.9em;
    border-top: solid 1px #fff;
    padding-top: 1em;
}


.like-bttn {
    display: inline-block;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: none;
    text-shadow: 0px 0px 6px white;
}

.like-bttn.is-liked {
    color: red
}


.modal-container {
    background: rgba(255, 255, 255, 0.5);
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-modal-content {
    width: 80%;
    height: 85%;
    background: white;
    display: flex;
}

.modal-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 40%;
}

.modal-comments .add-a-comment {
    /* background-color: red; */
}

.scrollable-comments {
    overflow: scroll;
}

.view-comments-btn {
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px;
}


.profile-pic-on-profile-page {
    height: 225px !important;
    width: 225px !important;
}


.app-posts {
    padding: 20px;
}

.persons-posts-on-profile {
    width: 62vw;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.video-on-profile-page-container {
    width: 33%;
    padding: 15px 20px;
}

.each-video-on-profile-pages {
    width: 100%;
    height: 92%;
    cursor: pointer;
}


.comment-and-foto {
    position: relative
}

.send-img {
    position: absolute;
    right: 0.5%;
    top: 19%;
    cursor: pointer;
}


.left-side {
    width: 20%;
}

.profile-pic-on-profile-page {
    justify-content: center;
    margin: 0 auto;
}

.right-side {

    width: 42%;
}

.follow-bttn {
    background-color: #000000;
    color: white;
    font-size: 18px;
    border-radius: 50%;
}

.edit-profile-bttn {
    margin-left: 12px;
    background-color: #ababab;
    border: none;
    height: 3%;
    width: 16%;
    margin-bottom: 7px;
}

.btn-white {
    width: 100%
}

.comments-container-for-each-comment-after-clicking-view-more-comments {
    display: flex;
}

.actual-comment-content-area-after-pressing-view-comments {
    margin-top: revert;
}

.more-avatar {
    width: 70%
}

.modal-comments-content {
    display: flex;
}

.nominate {

    padding: 8px;
    margin: 10px;
    background-color: white;
    opacity: 1;
    transition: all 500ms ease;
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;


}

.nominate:hover {
    opacity: 0.5;
}

.user-to-chall-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.friend-nom {
    margin-right: 50%;
    margin-top: auto;
}

.user-to-chall-container .make-green {
    background-color: green;
}