.post {
    background-color: black;
    border: 2px solid lightgray;
    margin-bottom: 45px;
    border-radius: 25px;
    margin-left: 22em;
    margin-right: 22em;
    padding: 14px;
}

.previous-challenges {
    display: flex
}

.previous-challenges .challenge-and-description {
    padding: 3em
}

.post-vid {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
    color: #fff;
}

.modal-chall-and-description {
    background: black;
    width: 60% !important
}

.follow-stuff {
    padding: 0.5em;
    font-size: 20px;
    /* margin-left: 15px; */
    /* margin-top: 20px; */
    padding-left: 31px;
}

.follow-container {
    padding-top: 55px;
    display: flex;
    margin-bottom: 20px;
align-items: center;
    color: white;



}

.bio-profile-page {
    flex: none;
}

.profile-container {

    /* flex: 1; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white
}

.user-name {
    /* display: flex; */
    justify-content: center;
}


.post-header {
    display: flex;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;


}

.the-user-name {
    padding-top: 1em;
    color: white;
    cursor: pointer;
}

.contribute-to-chall {
    color: white;
    text-align: center;
}

.challenge-headers {
    display: flex;
}

.post-avatar {
    margin-right: 10px;
    cursor: pointer;
}

.likes {
    color: #fff;
    padding: 0.7em
}

.post-caption {
    font-weight: 2px;
    padding: 5px;
    color: #fff;
}

.commentbox {
    /* display: flex; */
    /* margin-top: 10px; */

}

.heart-and-likes {
    display: flex;
    justify-content: space-between;
}

.add-a-comment {
    /* display: flex; */
    flex: 1;
    border: none;
    width: 90%;
    padding: 10px;
    border-top: 1px solid lightgray;
    margin-top: 8px;
}

.comment-button {
    flex: 0;
    border: 10px white;
    color: #fff;

}


.post-comments {
    padding: 5px;
    color: #fff;
    max-height: 2em;
    overflow: hidden;
    /* display: left */
}

.see-profile {
    display: flex;
    border-bottom: solid 2px #fff;

}


h3 {
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.chal-descrip {
    color: white;


}

.chall-description {
    padding: 12px 20px;
    font-size: 13px;
    line-height: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.challenge-and-description {
    /* border-bottom: solid 3px #fff; */
    background: black;
    width: 100%
}







/* .btn,
input[type="submit"] {
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    border: solid 2px #fff;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    grid-template-columns: 1fr 1fr;
    width: 100%
} */


.width-btn {
    width: 50%;
    text-align: center;
    border-top: solid 2px #fff;
}


.btn:hover,
input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-white {
    border: solid 2px #fff;
    background: transparent;
    color: #fff !important;
}

.btn-white:hover {
    background: #fff;
    color: #1f1f1f !important;
}



.btn-color {
    background: transparent;
}

.btn-color:hover {
    color: #fff;
}

.chal-descrip {
    padding-left: 0.9em;
    border-top: solid 1px #fff;
    padding-top: 1em;
}


.like-bttn {
    display: inline-block;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    border: none;
    /* margin: 0 1.5em; */
    /* 0 on top and bottom, 1.5 left and right */
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background: none;
    text-shadow: 0px 0px 6px white;

}

.like-bttn.is-liked {
    /* text-shadow: 0px 0px 6px white; */
    color: red
}

/* .like-bttn:hover {
    background-color: orange;
}

.like-bttn:focus {
    background-color: red;
} 

1130 - 150 website 
2-5 bball and workout for the day
510 - 620 algos
620-740 nap
8 - 910 algos
935 - 1035



40 algos and emails 
740-830 guitar
830-915

websites (check them all and work on Chall
1030-1130 algos and organize tutor for tomorow


*/


.modal-container {
    background: rgba(255, 255, 255, 0.5);
    /* display: flex; */
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-modal-content {
    width: 80%;
    height: 85%;
    /* max-height: 77%; */
    background: white;
    /* display: grid; */
    /* grid-template-columns: 700px 100px; */
    display: flex;
}

.modal-comments {
    /* margin-right: 400px */
    padding: 30px;
    overflow: scroll;
    width: 40%
}

.view-comments-btn {
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px;
}






/* flex stuff below
    display: flex;
   alignmenton the MAIN axis (default horizontal) 
    justify-content: center;
   alignmenton the CROSS axis (default vertical) 
    align-items: center; */





/* HERE IS THE PROFILE PIC CONTAINER AREA */


.profile-pic-on-profile-page {
    height: 225px !important;
    width: 225px !important;
}


/* PROFILE PAGE ORGANIZEING IT INTO THREE PER LINE*/

/* .profile-page-video-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.333333%;

    margin-left: 50px
}

.post-vid-for-profile {
   
} */

.app-posts {
    padding: 20px;
}

.persons-posts-on-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
    margin-left: 9%;

}

.each-video-on-profile-pages {
    max-width: 500px;


}


.comment-and-foto {
    position: relative
}

.send-img {
    position: absolute;
    /* right: 10; */
    /* left: 20px; */
    /* right: -100; */
    right: 11.5%;
    top: 19%;
    cursor: pointer;

}

.left-side {

    width: 20%;
}

.profile-pic-on-profile-page {
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
}

.right-side {

    width: 42%;
}

.follow-bttn {
    background-color: #000000;
    color: white;
    font-size: 18px;
    border-radius: 50%;
}

.edit-profile-bttn {
    margin-left: 12px;
    background-color: #ababab;
    border: none;
    height: 3%;
    width: 16%;
    margin-bottom: 7px;
}

.btn-white {
    width: 100%
}

.comments-container-for-each-comment-after-clicking-view-more-comments {
    display: flex;
}

.actual-comment-content-area-after-pressing-view-comments {
    margin-top: revert;
}

.more-avatar {
    width: 70%
}

.modal-comments-content {
    display: flex;
}