.post {
    background-color: black;
    border: 2px solid lightgray;
    margin-bottom: 45px;
    border-radius: 25px;
    margin-left: 15em;
    margin-right: 15em;
    padding: 14px;
}

.previous-challenges {
    display: flex
}

.previous-challenges .challenge-and-description {
    padding: 3em
}

.post-vid {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
    color: #fff;
}

.follow-stuff {
    padding: 0.5em;
}

.follow-container {
    display: flex;
    justify-content: center;
}

.profile-container {
    text-align: center;
    color: white
}

.user-name {
    display: flex;
    justify-content: center;
}


.post-header {
    display: flex;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;


}

.the-user-name {
    padding-top: 1em;
    color: white
}

.contribute-to-chall {
    color: white;
    text-align: center;
}

.challenge-headers {
    display: flex;
}

.post-avatar {
    margin-right: 10px;
}

.likes {
    color: #fff;
    padding: 0.7em
}

.post-caption {
    font-weight: 2px;
    padding: 5px;
    color: #fff;
}

.commentbox {
    /* display: flex; */
    /* margin-top: 10px; */

}

.heart-and-likes {
    display: flex;
    justify-content: space-between;
}

.add-a-comment {
    /* display: flex; */
    flex: 1;
    border: none;
    width: 90%;
    padding: 10px;
    border-top: 1px solid lightgray
}

.comment-button {
    flex: 0;
    border: 10px white;
    color: #fff;

}


.post-comments {
    padding: 5px;
    color: #fff;
    max-height: 3em;
    overflow: hidden;
    /* display: left */
}

.see-profile {
    display: flex;
    border-bottom: solid 2px #fff;

}


h3 {
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.chal-descrip {
    color: white;


}

.chall-description {
    padding: 12px 20px;
    font-size: 13px;
    line-height: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.challenge-and-description {
    border-bottom: solid 2px #fff
}







.btn,
input[type="submit"] {
    cursor: pointer;
    /* border-radius: 5px; */
    text-decoration: none;
    /* padding: 12px 18px; */
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    border: solid 2px #fff;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    grid-template-columns: 1fr 1fr;
    width: 100%
}


.width-btn {
    width: 50%;
    text-align: center;
    border-top: solid 2px #fff;
}


.btn:hover,
input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-white {
    border: solid 2px #fff;
    background: transparent;
    color: #fff !important;
}

.btn-white:hover {
    background: #fff;
    color: #1f1f1f !important;
}



.btn-color {
    background: transparent;
}

.btn-color:hover {
    color: #fff;
}

.chal-descrip {
    padding-left: 0.9em;
    border-top: solid 1px #fff;
    padding-top: 1em;
}


.like-bttn {
    display: inline-block;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    border: none;
    /* margin: 0 1.5em; */
    /* 0 on top and bottom, 1.5 left and right */
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background: none;
    text-shadow: 0px 0px 6px white;

}

.like-bttn.is-liked {
    /* text-shadow: 0px 0px 6px white; */
    color: red
}

/* .like-bttn:hover {
    background-color: orange;
}

.like-bttn:focus {
    background-color: red;
} 

1130 - 145 website 
1-245 bball and workout for the day
245 - 5 algos and emails
5-545 guitar


*/


.modal-container {
    background: rgba(255, 255, 255, 0.5);
    /* display: flex; */
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-modal-content {
    width: 65%;
    height: 85%;
    background: white;
    display: flex
}

.modal-comments {}







/* flex stuff below
    display: flex;
   alignmenton the MAIN axis (default horizontal) 
    justify-content: center;
   alignmenton the CROSS axis (default vertical) 
    align-items: center; */