/* .profile-pic {}

.post {
    background-color: black;
    border: 2px solid lightgray;
    margin-bottom: 45px;
    border-radius: 25px;
    width: 50em;
}


.post-vid {

    max-height: 600px;
    object-fit: contain;
    color: #fff;
}


.post-header {
    display: flex;
    padding: 20px 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 18px;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;

}





.likes {
    color: #fff;
    margin-left: 1em;
}

.post-caption {
    font-weight: 2px;
    padding: 10px;
    color: #fff;
    margin-left: 0.5em;
}


.add-a-comment {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray
}

.comment-button {
    flex: 0;
    border: 10px white;
    color: #fff;

}


.post-comments {
    padding: 5px;
    max-height: 9.5rem;
    color: #fff;
    overflow: scroll;
} */