/* input[type=text] {
  padding: 16px;
  margin: 16px; */
/* border: 0; */
/* border-radius: 30px; */
/* width: 40%; */

/* border-bottom: 2px black; */

/* } */

.sign-up-container {
  padding: 10px;
  align-items: baseline;
}

.sign-up {
  /* border: 0; */
  padding: 0.9em;
  margin: 1px;
  width: 40%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.sign-up:focus {
  outline: 0;
}



/* container */
label {
  position: relative;
  /* to contain absolute elements */
  padding-left: 30px;
  cursor: pointer;
  margin-top: 20px;
}

/* hide default checkbox  */
label input[type=checkbox] {
  position: absolute;
  /* prevent taking any space */
  /* cross-browser hidingg */
  opacity: 0;
  width: 0;
  height: 0;
}

/* custom checkbox */
label span {
  position: absolute;
  /* position to the free space in <label> */
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  transition: .3s background-color;
  /* slight transition */
}

/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;

  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

label:hover span {
  background-color: #ccc;
}

/**** Here's the trick ***/
label input:checked~span {
  background-color: black;
}

label input:checked~span:after {
  display: block;
}



/**********Button Stuff**********/


.create-account-bttn {

  padding: 8px;
  margin: 10px;
  background-color: white;
  width: 20%;
  opacity: 1;
  transition: all 500ms ease;
  text-decoration: none;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;


}

.create-account-bttn:hover {
  opacity: 0.5;
}



.whole-form {
  padding: 62px;
  background-color: white;
}



.profile-pic-bttn {
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 10%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15px;

}

.profile-pic-container {
  display: flex
}

.post-avatar-pic {
  margin-left: 25px;
  justify-content: center;
  margin-top: 35px;
}