/* input[type=text] {
  padding: 16px;
  margin: 16px; */
/* border: 0; */
/* border-radius: 30px; */
/* width: 40%; */

/* border-bottom: 2px black; */

/* } */

.sign-up-container {
  padding: 10px;
  align-items: baseline;
}

.sign-up {
  /* border: 0; */
  padding: 0.9em;
  margin: 1px;
  width: 40%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}



/* container */
label {
  position: relative;
  /* to contain absolute elements */
  padding-left: 30px;
  cursor: pointer;

}

/* hide default checkbox  */
label input[type=checkbox] {
  position: absolute;
  /* prevent taking any space */
  /* cross-browser hidingg */
  opacity: 0;
  width: 0;
  height: 0;
}

/* custom checkbox */
label span {
  position: absolute;
  /* position to the free space in <label> */
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  transition: .3s background-color;
  /* slight transition */
}

/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;

  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

label:hover span {
  background-color: #ccc;
}

/**** Here's the trick ***/
label input:checked~span {
  background-color: black;
}

label input:checked~span:after {
  display: block;
}



/**********Button Stuff**********/

.bttn {

  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  width: 45%;
  opacity: 1;
  transition: all 500ms ease;
  font-weight: 600;

}

.bttn:hover {
  opacity: 0.5;
}

.whole-form {
  padding: 10px;
  background-color: white;
}